body{
  background-color: #F7F6CF;
  overflow: hidden;
  font-family: Roboto;
}

#logout{
    width: 50px;
    text-align: right;
    position: absolute;
    right: 20px;
    top: 5px;
}

textarea{
    resize: none;
}

#info_user{
    width: 200px;
    margin: auto;
    text-align: center;
    width: 550px;
    color : black;
    font-size : 35px;
    text-transform: uppercase; 
    font-weight: bold; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); 
    padding-top: 10px;
}

#task{
    width: 500px;
    border : none;
    font-size : 25px;
}

#task legend{
  text-decoration : underline;
  color : purple;
}

#logout-btn{
  width: 65px;
  height: auto;
  text-align: center;
  position: fixed;
  left : 10px;
  top: 10px;
  display: inline-block;
  padding: 10px; 
  transition: opacity 0.3s ease;
}

#logout-btn:hover {
  opacity: 0.7;
}

img{
  width : 50px;
  height : 50px;
}


#tasks{
   background-color : #F4CFDF;
   width : 45%;
   height : 500px;
   align-items: center;
   display: flex;
   justify-content: center;
   border-radius : 25px;
   position : fixed;
   left : 40px;
   top : 250px;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
#edit{
  background-color : #F4CFDF;
  align-items: center;
  display: flex;
  justify-content: center;
  width : 45%;
  height : 500px;
  position : fixed;
  right : 40px;
  top : 250px;
  border-radius : 25px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#vertical-border{
  background-color : black;
  height : 800px;
  width : 5px;
  margin : auto;
  border-radius : 5px;
}

#titre1{
  position : fixed;
  left : 375px;
  top : 100px;
  font-size : 35px;
  text-decoration: underline;
}
#titre2{
  position : fixed;
  left : 1275px;
  top : 100px;
  font-size : 35px;
  text-decoration: underline;
}

#edit_task{
    width: 250px;
    margin: auto;

}

#edit_task_field{
  border : none;
  font-size : 20px;
}

#edit_task_field label{
  display: block;
  margin-top : 0px;
}

#edit_task_field input{
  display: block;
  margin-bottom : 0px;

}


#submit{
  display : block;
  position : fixed;
  left : 700px;
  top : 900px;
  padding: 10px 200px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #9AC8EB;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit:hover{
  background-color: #5784BA;
}
