body{
  font-family: Roboto;
}

#collect{
  background-color: #F7F6CF;
  width: 40%;
  position: fixed;
  right: 0;
  top : 0;
  height: 1080px;
}

#text{
  margin-left: 5px;
}

#titre{
  position : fixed;
  left: 50px;
  top: 0;
  color : gray;
  font-size : 45px;
}

#context{
  background-color: #F4CFDF;
  width : 60%;
  position: fixed;
  left : 0;
  top : 0;
  height: 1080px;
}

#presentation{
  position: fixed;
  top : 200px;
  left : 50px;
  width : 50%;
  height : 300px;
}

#titre-presentation{
  font-size : 35px;
  color: gray;
}

#text{
  font-size : 30px;
  color : gray;
}

#welcome{
 text-align: center;
  margin-top: 100px;
  height : 350px;
}

#welcome h1{
  font-size : 45px;
}
#welcome p{
  position: relative;
  top : 200px;
  font-size : 20px;
}
#login{
  text-align: center;
}

.button{
  margin: 0 5px;
  padding: 10px 10px;
  width : 200px;
  font-size: 18px;
  background-color: #9AC8EB;
  color: #F7F6CF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #5784BA;
}

form{
  display: inline;
}